body {
  background: #1f2235;
  font-family: "Baloo Tamma 2", cursive;
}
/* Main Heading Font */
.m-heading {
  font-family: "Roboto Slab", serif;
}
.main-container {
  text-align: center;
  margin-top: 80px;
}
.main-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-row h1 {
  font-size: 5rem;
}
.main-row img {
  width: auto;
  float: right;
}
#about {
  background-color: #43465e;
  border-radius: 0.5rem;
  margin-top: 20px;
}

#social-media {
  background: #313552;

}
.media_link {

  max-width: 15rem;
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  margin-left: 20px;
}

a{
  text-decoration: none;
  margin:0px;
}